.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
.custom-img {
  width: 100px;
  height: 50px;
  background-color: #233f5b; /* Light gray background */
  border-radius: 50%; /* For a circular shape */
}
.custom-img1{
  width: 32px;
    height: 32px;
    margin: 10px 4px -10px 10px;
    border-radius: 10px;
    background: red;
}
.bookapp{
  border: 2px solid #0864B1;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    margin: 0px 14px 15px 0;
}
.right-text-mhc1 {
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  background-color: #92382b;
  color: white;
  border: 2px solid #92382b;
  border-radius: 10px;
  animation: blinker 2s linear infinite;
  cursor: pointer;
}
.right-text-mhc {
  padding: 5px 10px 5px 10px;
  margin-right: 20px;
  background-color: #00aaa1;
  color: white;
  border: 2px solid #00aaa1;
  border-radius: 10px;
  animation: blinker 2s linear infinite;
  cursor: pointer;
}